.heading{
    color: #5dc6dc;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mid{
    display: flex;
}
.btn{
    padding: 0.6rem 1.25rem;
    margin-left: -1rem;
    background-color: #5dc6dc;
    color: black;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
}
input{
    padding: 0.5rem 0.5rem;
    width: 80%;
}
.head{
    color: red;
}
img{
    width: 10%;
}